/* .triangle {
    margin-top: 35px;
    width: 0;
    height: 0;
    border-right: 500px solid transparent;
    border-top: 250px solid transparent;
    border-left: 400px solid #ffd803;
    border-bottom: 250px solid #ffd803;
} */